.button{
	outline: none;
	background-color: Transparent;
	border: none;
	cursor: pointer;
}

.button__action{
	font-size: 1.5rem;
	width: 32%;
	text-transform: uppercase;
	border: 1px solid $font-color-primary;
	padding: 23px;
	margin: 0 auto 178px auto;
	display: inline-block;
}